<section id="section-home">
  <ul class="navbar" id="navbar-list">
    <li class="oswald-regular nav-link">
      <a class="nav-link-anchor" href="#section-home">Home</a>
    </li>
    <li class="oswald-regular nav-link">
      <a class="nav-link-anchor" href="#section-projects">Projects</a>
    </li>
    <li class="oswald-regular nav-link">
      <a class="nav-link-anchor" href="#section-contact">Contact</a>
    </li>
  </ul>
  <%= image_tag('background.jpg', class: 'image-background') %>
  <div class="heading-container">
    <h1 class="oswald-regular heading-white">Christopher Warner</h1>
    <h2 class="oswald-regular heading-white">Software Developer</h2>
  </div>
</section>
<section id="section-projects">
  <p>projects</p>
</section>
<section id="section-contact">
  <p>contact</p>
</section>
