<section class="home">
  <div class="image"><%= image_tag('background.jpg', class: 'image-background') %></div>
</section>
<section class="projects">
  <p>projects</p>
</section>
<section class="contact">
  <p>contact</p>
</section>